<div class="page-wrapper">
    <div class="header">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/add-carrier">Add Carrier</a></li>
        <li><a routerLink="/add-bulk-carrier">Add Bulk Carrier</a></li>
        <li><a routerLink="/edit-carrier">Edit Carrier</a></li>
        <li><a routerLink="/search-carrier">Search Carrier</a></li>

        <li><a routerLink="/list-carrier">List All Carriers</a></li>
      </ul>
    </div>
  </div>