<div class="page-wrapper">
    <div class="header">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/add-flight">Add Flight</a></li>
        <li><a routerLink="/add-bulk-flight">Add Bulk Flight</a></li>
        <li><a routerLink="/edit-flight">Edit Flight</a></li>
        <li><a routerLink="/search-flight">Search Flight</a></li>
        <li><a routerLink="/list-flight">List All Flights</a></li>
      </ul>
    </div>
  </div>