
<div class="page-wrapper">
    <div class="header">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/add-flight-schedule">Add Flight Schedule</a></li>
        <li><a routerLink="/add-bulk-flight-schedule">Add Bulk Flight Schedule</a></li>
        <li><a routerLink="/edit-flight-schedule">Edit Flight Schedule</a></li>
        <li><a routerLink="/search-flight-schedule">Search Flight Schedule</a></li>
        <li><a routerLink="/list-flight-schedule">List All Schedules</a></li>
      </ul>
    </div>
  </div>